{% extends 'base.html.twig' %} {% block title %}Task index{% endblock %} {%
block body %}
<main class="p-2">
    <a href="{{ path('app_task_new') }}">Create new</a>

    <section class="flex flex-col gap-2">
        {% for task in tasks %}
        <article class="flex w-full border-2 p-2 gap-2 items-center rounded-md">
            <p class="border-r-2 px-2">{{ task.isDone ? "✅" : "❌" }}</p>
            <div class="content flex-1 flex justify-between">
                <div class="leftPart flex flex-col p-2 justify-between">
                    <h2>{{ task.title }}</h2>
                    <p>
                        due at:
                        {{ task.dueAt ? task.dueAt|date('Y-m-d H:i:s') : '' }}
                    </p>
                </div>
                <div class="rightPart flex flex-col gap-2 items-end">
                    <a href="{{ path('app_task_edit', { id: task.id }) }}"
                        >Edit</a
                    >
                    {% include 'task/_delete_form.html.twig' %}
                </div>
            </div>
        </article>
        {% endfor %}
    </section>
</main>
{% endblock %}
